{% extends 'base.html' %}

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/article.css')}}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap" rel="stylesheet">
{% endblock %}

{% block content%}
<div class="body">
<h1 style="text-align: center; color:yellow"> ARTICLES </h1>
<div class="container">

    {% for article_item in articles | batch(3)%}
    <div class="row">
        {% for article in article_item%}
        <div class="col-md-4">
            <div class="thumbnail" style="background-color: transparent;">
             <img src="{{article.urlToImage}}" alt="{{article.title}}"
                        class="img-responsive" style="height:200px">
                <div class="caption">
                <h4><a href="{{article.url}}" target="_blank">{{article.title }}</a></h4>
                  <p style="color:white;">{{article.description }}</p>
                  <p style="color: white;">Posted:{{article.publishedAt}}</p> 
                    <a href="{{article.url}}" target="_blank"><strong>Continue...</strong></a>
                </div>
              
                   
               
            </div>
        </div>
        {%endfor%}
    </div>
    {%endfor%}
</div>
</div>
{% endblock%}