{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Content block -->
{% block content %}
<div class="container">
    <div class="card row m-1">
        <!-- General news -->
        <h3> General news</h3>
        <ul>
            {{ macro.displaySourcesList(general)}}
        </ul>
    </div>
    <div class="card row m-1">
        <!-- Technology news -->
        <h3> Technology news</h3>
        <ul>
            {{ macro.displaySourcesList(technology)}}
        </ul>
    </div>
    <div class="card row m-1">
        <!-- Entertainment news -->
        <h3> entertainment news</h3>
        <ul>
            {{ macro.displaySourcesList(entertainment)}}
        </ul>
    </div>
    <div class="card row m-1">
        <!-- Business news -->
        <h3> Business news</h3>
        <ul>
            {{ macro.displaySourcesList(business)}}
        </ul>
    </div>
    <div class="card row m-1">
        <!-- Health news -->
        <h3> Health news</h3>
        <ul>
            {{ macro.displaySourcesList(health)}}
        </ul>
    </div>
</div>
{% endblock%}